<!DOCTYPE html>
{% include 'header.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
      <link rel="stylesheet" src="../static/css/estilos.css">
    <title>Document</title>
</head>
<body >
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Libreria</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'catalogo' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'carrito' %}">Carrito</a>
          </li>
          <li class="nav-item dropdown" >
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="true">
              {{user.first_name}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> 


    <div class="alert alert-secondary" role="alert">
        <table class="table table-bordered" >
          <thead>
            <tr>
              <th scope="row" colspan="3" class="text-center">CARRO DE COMPRA</th>
            </tr>
            <tr>
              <th scope="col">NOMBRE</th>
              <th scope="col">CANTIDAD</th>
              <th scope="col">PRECIO UNITARIO</th>
              <th scope="col">TOTAL</th>
            </tr>
          </thead>
          <tbody>
          {% if request.session.carrito.items %}
          {% for key, value in request.session.carrito.items %}
            <tr>
              <td>{{value.nombre}}</td>
              <td>{{value.cantidad}}</td>
              <td>{{value.valor_libro}}</td>
              <td>{{value.acumulado}}
                <a href="{% url 'agregarLibro' value.libro_id %}" class="badge btn btn-dark badge-dark">+</a>
                <a href="{% url 'restar' value.libro_id %}" class="badge btn btn-dark badge-dark">-</a>
              </td>
            </tr>
          {% endfor %}
          {% else %}
          <tr>
              <td colspan="3">
                  <div class="alert alert-danger text-center"> Sin Productos </div>
              </td>
          </tr>
          {% endif %}
            <tr>
              <th scope="row">Total:</th>
              <td colspan="2">$ {{total_carrito}}</td>
            </tr>
          </tbody>
        </table>
        <hr>
        </div>
        <div class="row text-center">
            <div class="col-6"><a href="{% url 'CLS' %}" class="btn btn-dark">Limpiar</a></div>
            <div class="col-6"><a href="#" class="btn btn-primary">Guardar</a></div>
        </div>
    
</body>
</html>