<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Titulo del libro</label>
        <input type="text" class="form-control" name="titulo" aria-describedby="emailHelp">
      </div>

    <div class="mb-3" >
        <div>
            <label class="form-label">Precio</label>
            <input type="text" class="form-control" name="precio">
        </div>
        <div>
            <label for="">Categoria</label><br>
            <select name="inputGenero" id="">
                {% for g in genero %}
                    <option value="{{g.id}}">{{g.nombre}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
      
    <div class="form-control">
        <label style="color:#ffffff">Reseña</label>
        <textarea class="form-control"style="height: 100px" name="comentario"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">URL Imagen</label>
        <input type="text" class="form-control" name="urlImagen">
      </div>
    
      <input type="submit" class="btn-success" value="Guardar Libro">
</form>