{% include 'header.html' %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="alert alert-info display-1 text-center">
    Iniciar Sesión 
  </div>

  <div style="display: flex; justify-content: center;">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="btn btn-success" value="Iniciar sesión">
      <p>¿No tienes una cuenta?<a href="{% url 'registro' %}">Puedes registrarte aquí.</a></p>
    </form>    
  </div>
    
</body>
</html>