*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://images.pexels.com/photos/1290141/pexels-photo-1290141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
}

.asideLeft h1 {
    margin: 0;
    color: #F7FA5F;
    text-align: center;
}

.formRegistro {
    width: 400px;
    background-color: #4e4d4d;
    box-shadow: 6px 13px 33px #000;
    padding: 13px 33px;
    border-top: 4px solid #017bab;
    color: aliceblue;
}

form a {
    font-size: 13px;
    margin-left: 13px;
}

.form-control {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 6px;
    padding: 11px 10px;
    background: #252323;
}
.form-control:enabled {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 6px;
    padding: 6px 10px;
    font-size: 13px;
    font-weight: bold;
    background: #252323;
    color: aliceblue;
}

.asideRight {
    display: flex;
    flex-direction: column;
    box-shadow: 6px 13px 33px #000;
    background-color: #4e4d4d;
}
.divSuperior {
    border-bottom: 2px solid #017bab;
}
.divInferior {
    border-bottom: 2px solid #017bab;
}
.asideRight div div {
    display: flex;
    flex-direction: row;
    margin: 13px;
}
.asideRight div div img {
    height: 33px;
}
.asideRight div div p {
    color: #017bab;
}
.asideRight div h5 {
    text-align: center;
    margin-top: 13px;
}