*{
    margin: 0;
    padding: 0;
}
.asideRight{
    border: 1px solid blue;
}

.divSuperior{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 3.3px solid red;
    padding-bottom: 33px;
}

.divSuperior h5{
    color: blue;
    border: 1px solid red;
}